@media screen and (width >= 840px) {
  body {
    font-size: 1em;
  }

  main {
    flex: 1;
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
  }

  nav a {
    padding: 15px 20px;
  }

  .container {
    width: 600px;
  }

  .container2 {
    background-color: #5acc83;
    border-radius: 15px;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    padding: 2em;
    display: flex;
  }

  section {
    margin-bottom: 20px;
    padding: 0;
  }

  .img_cont {
    text-align: center;
  }

  .image3 {
    max-width: 840px;
  }

  .webmap ul {
    flex-direction: row;
  }

  .rowimg picture {
    height: 200px;
  }

  .img_detall {
    width: 300px;
    height: 200px;
  }

  .img_destacada {
    width: 840px;
    height: 300px;
  }

  .img_capitols {
    width: 100%;
  }

  .rowcont {
    width: 540px;
    padding: 25px;
  }

  .webmap, .clippath, .row, .row2, .header_img, svg, .svg-container {
    width: 840px;
  }

  .svg-container, svg {
    height: 60px;
  }

  .txtSVG {
    font: 60px sans-serif;
  }
}

@media screen and (width >= 426px) and (width <= 839px) {
  body {
    font-size: 1em;
  }

  main {
    flex: 1;
    max-width: 95%;
    margin: 0 auto;
    padding: 20px 0;
  }

  nav a {
    padding: 15px 20px;
  }

  .container {
    width: 80%;
  }

  .container2 {
    background-color: #5acc83;
    border-radius: 15px;
    flex-direction: column;
    margin: 5px auto;
    padding: 2em;
    display: flex;
  }

  section {
    margin-bottom: 20px;
    padding: 0;
  }

  .img_cont {
    text-align: center;
  }

  .image3 {
    width: 90%;
  }

  .webmap ul {
    flex-direction: row;
  }

  .webmap {
    width: 90%;
  }

  .clippath, .row, .row2 {
    width: 100%;
  }

  .rowimg {
    width: 90%;
  }

  .img_detall {
    width: 100%;
  }

  .img_destacada {
    width: 100%;
    height: auto;
  }

  .img_capitols {
    width: 100%;
  }

  .rowcont {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .row {
    text-align: center;
    flex-direction: column;
  }

  .row2 {
    text-align: center;
    flex-direction: column-reverse;
  }

  .svg-container {
    height: 60px;
  }

  .svg-container, svg {
    width: 100%;
    height: 35px;
  }

  .txtSVG {
    font: 80px sans-serif;
  }
}

@media screen and (width <= 425px) {
  body {
    width: 100%;
    font-size: .8em;
  }

  main {
    flex: 1;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  nav a {
    padding: 10px 7px;
  }

  .container2 {
    background-color: #5acc83;
    flex-direction: column;
    margin: 0 0 10px;
    padding: 2em;
    display: flex;
  }

  section {
    margin-bottom: 0;
    padding: 0;
  }

  .capitols {
    padding: 0;
  }

  .img_cont {
    text-align: center;
  }

  .image3 {
    width: 90%;
  }

  ul {
    padding-left: 30px;
  }

  .webmap ul {
    flex-direction: column;
  }

  .webmap, .clippath, .row, .row2 {
    width: 100%;
  }

  .rowimg {
    width: 90%;
  }

  .img_detall {
    width: 100%;
  }

  .img_destacada {
    width: 100%;
    height: auto;
  }

  .img_capitols {
    width: 100%;
  }

  .rowcont {
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .row {
    text-align: center;
    flex-direction: column;
  }

  .row2 {
    text-align: center;
    flex-direction: column-reverse;
  }

  .svg-container, svg {
    width: 80%;
    height: 40px;
  }

  .txtSVG {
    font: 40px sans-serif;
  }
}

body {
  background-color: #f0f0f0;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

header {
  color: #fff;
  text-align: center;
  background-color: #171c19;
  padding-top: 10px;
}

footer {
  color: #fff;
  text-align: center;
  background-color: #171c19;
  width: 100%;
}

h1, h2 {
  margin: .1em;
}

nav ul {
  text-align: center;
  background-color: #333;
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
}

nav li {
  background-color: #333;
  margin: 0;
  transition: background-color 2s;
  display: inline-block;
}

nav li:hover {
  background-color: #1db954;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 1s;
  display: block;
}

nav a:hover {
  color: #000;
}

.activo a, .activo a:hover {
  color: #1db954;
  background-color: #555;
}

section a {
  color: #fff;
  text-decoration: none;
}

.container {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}

.title {
  margin-bottom: 10px;
  font-size: x-large;
}

.subtitle {
  color: #fff;
  margin-bottom: 10px;
  font-size: large;
}

.image {
  width: 200px;
  margin: 10px;
}

.image2 {
  width: 200px;
  margin-bottom: 10px;
}

.description {
  color: #333;
  background-color: #95e4b1;
  border-radius: 0 0 10px 10px;
  margin: 0 .1em .1em;
  padding: 10px;
  font-size: medium;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.links {
  color: #1db954;
  font-size: medium;
  text-decoration: none;
}

.webmap {
  justify-content: center;
  margin: 0 auto;
  display: flex;
}

.webmap ul {
  display: flex;
}

.webmap ul li {
  list-style-type: none;
}

.webmap ul li a {
  color: #1db954;
  font-size: medium;
  text-decoration: none;
}

main {
  animation: 2s forwards fadeInAnimation;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logoSpotify {
  width: 60px;
  margin: auto;
  animation: 2s infinite balanceig;
}

@keyframes balanceig {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(40deg);
  }

  75% {
    transform: rotate(-40deg);
  }

  100% {
    transform: rotate(0);
  }
}

.clippath {
  clip-path: polygon(75% 20%, 85% 50%, 75% 80%, 0 80%, 15% 50%, 0 20%);
}

.row {
  box-sizing: border-box;
  background-color: #95e4b1;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.row2 {
  box-sizing: border-box;
  background-color: #5acc83;
  align-items: center;
  margin: auto;
  display: flex;
}

.rowimg picture {
  margin: 0;
  padding: 0;
  display: block;
}

.txtSVG {
  fill: #1db954;
}

.svg-container {
  resize: both;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

svg {
  width: 95%;
  height: 95%;
  animation: 1s ease-in infinite alternate fadeIn;
}

.header_img {
  margin: auto;
}

picture source {
  margin: 0;
  padding: 0;
}

.img_destacada {
  border: 0 solid #f0f0f0;
  border-bottom-width: 1rem;
  border-radius: 30px 30px 0 0;
}

.img_capitols {
  border-radius: 20px 20px 0 0;
}

picture {
  margin: 0;
  padding: 0;
  display: block;
}

/*# sourceMappingURL=index.971c2ea4.css.map */
